$default-font-size: 0.8125em;
$default-font-color: #676a6c;

$default-palette-0: #ffffff;
$default-palette-1: #0078b4;
$default-palette-2: #bce4fa;
$default-palette-3: #004D8C;
$default-palette-4: #e7f2f7;

$background-color: #edf0f5;

$panel-background-color: #ffffff;
$panel-separator-color: #d5d5d5;

$default-palette-valid: #1f9e53;
$default-palette-valid: #ffa500;
$default-palette-danger: #b8312e;

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: calc(100%);
  overflow: auto;
  background-color: $background-color;
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: $default-font-size;
  color: $default-font-color;
  &.tesla-body-inverse {
	  background-color: $default-palette-2;
  }
}

h1,h2,h3,h4,h5,h6 {
	font-size: 2em;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
}

.max-height {
	height: 100%;
}

.tesla {
	a {
		color: $default-palette-1;
	}
	.tesla-wrapper {
		padding: 4.5em 0.75em 0.75em 4.5em;
	}
	.tesla-panel {
		padding: 15px 10px;
		margin-top: 1.5em;
		margin-left: 0.25em;
		margin-right: 0.25em;
		background-color: $panel-background-color;
		-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);

		.tesla-panel-heading {
			padding: 0 5px;
		}
		.tesla-panel-heading > h3 {
			margin: 0 0 .5em 0;
			border-bottom: 1px solid $panel-separator-color;
			padding: .1em;
			font-size: 24px;
		}
		.tesla-panel-body {
			margin: 0;
			hr {
				border-style: solid;
				border-bottom: 0;
				border-left: 0;
				border-right: 0;
				margin: 0.6em;
				border-color: $panel-separator-color;
			}
		}
	}
	.tesla-logo {
		width: 3.5em;
		height: 3.5em;
		padding: 5px 10px;
		text-align: center;
		background-color: $default-palette-3;

		> span {
			font-size: 25px;
			line-height: 40px;
			color: $panel-separator-color;
		}
	}
	.tesla-bar {
		&.tesla-bar-top {
			height: 3.5em;
			position: fixed;
			top: 0;
			right: 0;
			left: 0;
			background: $default-palette-1;
			z-index: 101;

			h1.tesla-headline {
				margin: 0.3em 2.5em;
				color: $default-palette-0;
				white-space: nowrap;
			}

			.tesla-menu-icon {
				a {
					color: $default-palette-0;
				}
				a:hover {
					color: $default-palette-1;
				}
			}
			>.tesla-menu-text {
				color: $default-palette-0;
				&.tesla-pull-left {
					padding-left: 50px;
				}
				>li {
					>a {
						line-height: 50px;
						color: inherit;
						width: 100%;
						height: 100%;
						display: block;
					}
				}
				>li:hover {
					background-color: $background-color;
					color: $default-palette-1;
				}
			}
		}
		&.tesla-bar-side {
			width: 3.5em;
			height: 100%;
			position: fixed;
			top: 0;
			left: 0;
			background: $default-palette-2;
			z-index: 102;

			.tesla-menu-icon {
				a {
					color: $default-palette-3;
				}
				a:hover {
					color: $default-palette-2;
					
				}
			}
		}
	}
	.tesla-menu {
		&.tesla-menu-icon {
			margin: 0;
			list-style: none;

			a {
				color: $default-palette-1;
				display: block;
				text-align: center;
				>span {
					font-size: 3.5em;
				}
			}
			a:hover {
				background-color: $background-color;
			}

			&.tesla-menu-icon-horizontal {
				background-color: $default-palette-1;
				padding: 0 5px;
				position: absolute;
				right: 0;
				>li {
					float: left;
				}
			}
			&.tesla-menu-icon-vertical {
				padding: 1em 0;
			}
		}
		&.tesla-menu-text {
			margin: 0;
			list-style: none;

			a {
				color: $default-palette-0;
				font-size: 18px;
				text-decoration: none;
			}

			&.tesla-menu-text-horizontal {
				padding: 0 5px;
				>li {
					padding: 0 20px;
					float: left;
				}
			}
			&.tesla-menu-text-vertical {
				padding: 5px 0;
			}
		}
	}
	.tesla-ctrl-header {
		height: 40px;
		margin: 15px 0 20px;
		>h1 {
			margin: 0;
			padding: 7px 5px;
		}
		&.tesla-toolbox {
			text-align: right;
		}
	}
	.tesla-login {
		width: 100%;
		position: absolute;
		top: 50%;
		margin-top: -110px;
		.tesla-panel {
			width: 400px;
			margin: 0 auto;
			box-shadow: 6px 6px 6px $default-palette-3;
		}
		.ui-panelgrid {
			.ui-panelgrid-cell {
				padding: 10px;
			}
		}
	}
	.tesla-clear {
		clear: both;
	}
	.tesla-pull-right {
		float: right;	
	}
	.tesla-pull-left {
		float: left;	
	}
	.tesla-no-alter {
		background: transparent;
	}
	.tesla-table-no-header thead {
		display: none;
	}

	.tesla-table-transparent {
		table {
			>tbody {
				background: transparent;
				>tr {
					background: transparent;
					>td {
						background: transparent;
					}
					&.ui-datatable-odd {
						background: transparent;
					}
					&.ui-datatable-even {
						background: transparent;
					}
				}
			}
		}
		
	}
	.tesla-master-panel-fixed {
		position: fixed;
		background-color: $background-color;
		top: 0px;
		left: 50px;
	}
	.tesla-master-panel-scroll {
		.ui-datatable {
			.ui-paginator.ui-paginator-bottom {
				position: fixed;
				bottom: 0px;
				left: 0px;
				width: 100%;
				background: $default-palette-0;
				border: 0;
			}
		}
	}
	.wc {
		h2 {
			margin: 0 0 8px 0;
			font-size: 12px;
			font-weight: 700;
			color: #444950;
			text-transform: uppercase;
		}
		.wc-button-container {
			text-align: right;
			.p-button {
				background-color: $default-palette-3;
				border-color: $default-palette-3;
				margin-left: 0.5em;
			}
		}
	}

}

/* +++++++++++++++++++++++++++++++++
   +++++ Primfaces overrides  ++++++ 
   +++++++++++++++++++++++++++++++++ */
.tesla {
	.wc {
		.p-component.p-dropdown {
			width: 100%;
		}
		.p-component.p-inputtext {
			width: 100%;
		}
		.p-dataview {
			.p-dataview-content
			{
				border: none;
				.item {
					cursor: pointer;
				}
				.item:hover {
					background-color: $default-palette-4;
				}

				.item-selected {
					background-color: $default-palette-4;
					color: $default-palette-1;
				}
			}
		}
	}
	.ui-picklist {
		&.ui-picklist-responsive {
			.ui-picklist-list-wrapper {
				width: 45%;
			}
		}
		.ui-picklist-list {
			li {
				height: 24px;
				.fa-fw {
					font-size: 1.2em;
					color: $default-palette-1;
					margin-right: 6px;
				}
			}
		}
	}
	.tesla-panel {
		.tesla-panel-body {
			>.ui-panelgrid.ui-widget {
				>.ui-widget-content {
					border: 0;
				}
			}
		}
	}
	.ui-outputlabel {
		.ui-outputlabel-rfi {
			display: none;
		}
	}
}