html {
  height: 100%;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: calc(100%);
  overflow: auto;
  background-color: #edf0f5;
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.8125em;
  color: #676a6c; }
  body.tesla-body-inverse {
    background-color: #bce4fa; }

h1, h2, h3, h4, h5, h6 {
  font-size: 2em;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit; }

.max-height {
  height: 100%; }

.tesla a {
  color: #0078b4; }

.tesla .tesla-wrapper {
  padding: 4.5em 0.75em 0.75em 4.5em; }

.tesla .tesla-panel {
  padding: 15px 10px;
  margin-top: 1.5em;
  margin-left: 0.25em;
  margin-right: 0.25em;
  background-color: #ffffff;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); }
  .tesla .tesla-panel .tesla-panel-heading {
    padding: 0 5px; }
  .tesla .tesla-panel .tesla-panel-heading > h3 {
    margin: 0 0 .5em 0;
    border-bottom: 1px solid #d5d5d5;
    padding: .1em;
    font-size: 24px; }
  .tesla .tesla-panel .tesla-panel-body {
    margin: 0; }
    .tesla .tesla-panel .tesla-panel-body hr {
      border-style: solid;
      border-bottom: 0;
      border-left: 0;
      border-right: 0;
      margin: 0.6em;
      border-color: #d5d5d5; }

.tesla .tesla-logo {
  width: 3.5em;
  height: 3.5em;
  padding: 5px 10px;
  text-align: center;
  background-color: #004D8C; }
  .tesla .tesla-logo > span {
    font-size: 25px;
    line-height: 40px;
    color: #d5d5d5; }

.tesla .tesla-bar.tesla-bar-top {
  height: 3.5em;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: #0078b4;
  z-index: 101; }
  .tesla .tesla-bar.tesla-bar-top h1.tesla-headline {
    margin: 0.3em 2.5em;
    color: #ffffff;
    white-space: nowrap; }
  .tesla .tesla-bar.tesla-bar-top .tesla-menu-icon a {
    color: #ffffff; }
  .tesla .tesla-bar.tesla-bar-top .tesla-menu-icon a:hover {
    color: #0078b4; }
  .tesla .tesla-bar.tesla-bar-top > .tesla-menu-text {
    color: #ffffff; }
    .tesla .tesla-bar.tesla-bar-top > .tesla-menu-text.tesla-pull-left {
      padding-left: 50px; }
    .tesla .tesla-bar.tesla-bar-top > .tesla-menu-text > li > a {
      line-height: 50px;
      color: inherit;
      width: 100%;
      height: 100%;
      display: block; }
    .tesla .tesla-bar.tesla-bar-top > .tesla-menu-text > li:hover {
      background-color: #edf0f5;
      color: #0078b4; }

.tesla .tesla-bar.tesla-bar-side {
  width: 3.5em;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #bce4fa;
  z-index: 102; }
  .tesla .tesla-bar.tesla-bar-side .tesla-menu-icon a {
    color: #004D8C; }
  .tesla .tesla-bar.tesla-bar-side .tesla-menu-icon a:hover {
    color: #bce4fa; }

.tesla .tesla-menu.tesla-menu-icon {
  margin: 0;
  list-style: none; }
  .tesla .tesla-menu.tesla-menu-icon a {
    color: #0078b4;
    display: block;
    text-align: center; }
    .tesla .tesla-menu.tesla-menu-icon a > span {
      font-size: 3.5em; }
  .tesla .tesla-menu.tesla-menu-icon a:hover {
    background-color: #edf0f5; }
  .tesla .tesla-menu.tesla-menu-icon.tesla-menu-icon-horizontal {
    background-color: #0078b4;
    padding: 0 5px;
    position: absolute;
    right: 0; }
    .tesla .tesla-menu.tesla-menu-icon.tesla-menu-icon-horizontal > li {
      float: left; }
  .tesla .tesla-menu.tesla-menu-icon.tesla-menu-icon-vertical {
    padding: 1em 0; }

.tesla .tesla-menu.tesla-menu-text {
  margin: 0;
  list-style: none; }
  .tesla .tesla-menu.tesla-menu-text a {
    color: #ffffff;
    font-size: 18px;
    text-decoration: none; }
  .tesla .tesla-menu.tesla-menu-text.tesla-menu-text-horizontal {
    padding: 0 5px; }
    .tesla .tesla-menu.tesla-menu-text.tesla-menu-text-horizontal > li {
      padding: 0 20px;
      float: left; }
  .tesla .tesla-menu.tesla-menu-text.tesla-menu-text-vertical {
    padding: 5px 0; }

.tesla .tesla-ctrl-header {
  height: 40px;
  margin: 15px 0 20px; }
  .tesla .tesla-ctrl-header > h1 {
    margin: 0;
    padding: 7px 5px; }
  .tesla .tesla-ctrl-header.tesla-toolbox {
    text-align: right; }

.tesla .tesla-login {
  width: 100%;
  position: absolute;
  top: 50%;
  margin-top: -110px; }
  .tesla .tesla-login .tesla-panel {
    width: 400px;
    margin: 0 auto;
    box-shadow: 6px 6px 6px #004D8C; }
  .tesla .tesla-login .ui-panelgrid .ui-panelgrid-cell {
    padding: 10px; }

.tesla .tesla-clear {
  clear: both; }

.tesla .tesla-pull-right {
  float: right; }

.tesla .tesla-pull-left {
  float: left; }

.tesla .tesla-no-alter {
  background: transparent; }

.tesla .tesla-table-no-header thead {
  display: none; }

.tesla .tesla-table-transparent table > tbody {
  background: transparent; }
  .tesla .tesla-table-transparent table > tbody > tr {
    background: transparent; }
    .tesla .tesla-table-transparent table > tbody > tr > td {
      background: transparent; }
    .tesla .tesla-table-transparent table > tbody > tr.ui-datatable-odd {
      background: transparent; }
    .tesla .tesla-table-transparent table > tbody > tr.ui-datatable-even {
      background: transparent; }

.tesla .tesla-master-panel-fixed {
  position: fixed;
  background-color: #edf0f5;
  top: 0px;
  left: 50px; }

.tesla .tesla-master-panel-scroll .ui-datatable .ui-paginator.ui-paginator-bottom {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background: #ffffff;
  border: 0; }

.tesla .wc h2 {
  margin: 0 0 8px 0;
  font-size: 12px;
  font-weight: 700;
  color: #444950;
  text-transform: uppercase; }

.tesla .wc .wc-button-container {
  text-align: right; }
  .tesla .wc .wc-button-container .p-button {
    background-color: #004D8C;
    border-color: #004D8C;
    margin-left: 0.5em; }

/* +++++++++++++++++++++++++++++++++
   +++++ Primfaces overrides  ++++++ 
   +++++++++++++++++++++++++++++++++ */
.tesla .wc .p-component.p-dropdown {
  width: 100%; }

.tesla .wc .p-component.p-inputtext {
  width: 100%; }

.tesla .wc .p-dataview .p-dataview-content {
  border: none; }
  .tesla .wc .p-dataview .p-dataview-content .item {
    cursor: pointer; }
  .tesla .wc .p-dataview .p-dataview-content .item:hover {
    background-color: #e7f2f7; }
  .tesla .wc .p-dataview .p-dataview-content .item-selected {
    background-color: #e7f2f7;
    color: #0078b4; }

.tesla .ui-picklist.ui-picklist-responsive .ui-picklist-list-wrapper {
  width: 45%; }

.tesla .ui-picklist .ui-picklist-list li {
  height: 24px; }
  .tesla .ui-picklist .ui-picklist-list li .fa-fw {
    font-size: 1.2em;
    color: #0078b4;
    margin-right: 6px; }

.tesla .tesla-panel .tesla-panel-body > .ui-panelgrid.ui-widget > .ui-widget-content {
  border: 0; }

.tesla .ui-outputlabel .ui-outputlabel-rfi {
  display: none; }
